[Unit]
Description=Main server
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/main_service
ExecStart=/home/pi/main_service/bin/main_service
Restart=always

[Install]
WantedBy=multi-user.target
