[Unit]
Description=Service for qr scanner
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/hardware_services/qr_code_scanner
ExecStart=python3 /home/pi/hardware_services/qr_code_scanner/main.py
Restart=always

[Install]
WantedBy=multi-user.target
